header {
  background-color: #007bff;
  color: #fff;
}

.navbar {
  padding: 0.5rem 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
}


.nav-links .nav-link {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-links .nav-link:hover {
  background-color: #fff;
  color: #007bff;
}

.auth-buttons .login-btn,
.auth-buttons .register-btn {
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.auth-buttons .login-btn:hover,
.auth-buttons .register-btn:hover {
  background-color: #0056b3;
  color: #fff;
}

.menuIcon {
  font-size: 1.5rem;
  color: #fff;
  border: none;
}




.card video {
  height: 200px;
}

.square-modal {
  width: 80%;
  /* Adjust width as needed */
  max-width: 800px;
  /* Optional: Limit max width */
  height: 50vw;
  /* Set height equal to width */
  max-height: 500px;
  /* Optional: Limit max height */
}

.square-modal .modal-content {
  height: 80%;
  /* Fill the height of the square container */
}

.square-modal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  min-width: 100%;
  min-height: 100%;
}




@media (max-width: 767px) {
  .nav-links {
    gap: 10px;
  }
}